img{
    padding: 20px;
}
.custom-conatiner{
    margin: 20px;
}

.title-0{
    width: 2%;
}
.title-1{
    width: 2%;
}
.title-2{
    width: 25%;
}
.title-3{
    width: 28%;
}
.title-4{
    width: 28%;
}
.title-5{
    width: 13%;
}

